.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 44px;
  text-align: center;

  &.black {
    background-color: #000;
    color: #fff;
  }

  &.blue {
    background-color: blue;
    color: #fff;
  }

  &.orange {
    background-color: orange;
    color: #000;
  }

  &.purple {
    background-color: purple;
    color: #fff;
  }
}
